<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sách sản phẩm</h1>
<form>
    <input type="text" placeholder="search" name="q">
    <button>Tìm kiếm</button>
</form>
<a th:href="@{/products/create}">Tạo mới sản phẩm</a>
<table>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá sản phẩm</th>
        <th>Ảnh sản phẩm</th>
        <th>Mô tả sản phẩm</th>
        <th>Danh mục sản phẩm</th>
        <th>Chỉnh sửa</th>
        <th>Xóa</th>
    </tr>
    <th:block th:each="product: ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <img th:src="@{'../' + ${product.imgUrl}}" width="50" height="50">
            </td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category != null ? product.category.name : ''}"></td>
            <td><a th:href="@{/products/edit/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/products/delete/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/products/list'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/products/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>